<h1 mat-dialog-title>{{data ? 'Update Salary' : 'Create Salary'}} </h1>
<div mat-dialog-content>
  <form [formGroup]="formGroup">

    <mat-form-field>
        <mat-label>Year</mat-label>
        <input matInput formControlName="year" placeholder="Year" type="number" min=1950 max=2022>
        <mat-error
            *ngIf="!formGroup.get('year').valid && formGroup.get('year').touched && formGroup.get('year').errors?.required">
                Year is <strong>required</strong>
        </mat-error>
        <mat-error
            *ngIf="!formGroup.get('year').valid && formGroup.get('year').touched && formGroup.get('year').errors?.min">
                Min Year is 1900
        </mat-error>
        <mat-error
            *ngIf="!formGroup.get('year').valid && formGroup.get('year').touched && formGroup.get('year').errors?.max">
                Max Year is 2022
        </mat-error>
    </mat-form-field> 
    <mat-form-field>
        <mat-label>Month</mat-label>
        <input matInput formControlName="month" placeholder="Month" type="number" min=1 max=12>
        <mat-error
            *ngIf="!formGroup.get('month').valid && formGroup.get('month').touched && formGroup.get('month').errors?.required">
                Month is <strong>required</strong>
        </mat-error>
        <mat-error
            *ngIf="!formGroup.get('month').valid && formGroup.get('month').touched && formGroup.get('month').errors?.min">
                Min month is 1
        </mat-error>
        <mat-error
            *ngIf="!formGroup.get('month').valid && formGroup.get('month').touched && formGroup.get('month').errors?.max">
                Max month is 12
        </mat-error>
    </mat-form-field>
    <mat-form-field floatLabel="always">
        <mat-label>Base Salary</mat-label>
        <input matInput formControlName="baseSalary" type="number" class="example-right-align" placeholder="0">
        <span matPrefix>$&nbsp;</span>
        <mat-error
            *ngIf="!formGroup.get('baseSalary').valid && formGroup.get('baseSalary').touched && formGroup.get('baseSalary').errors?.required">
            Base Salary is <strong>required</strong>
        </mat-error>
        <mat-error
            *ngIf="!formGroup.get('baseSalary').valid && formGroup.get('baseSalary').touched && formGroup.get('baseSalary').errors?.min">
            Min Base Salary is 0
        </mat-error>
    </mat-form-field>
    <mat-form-field floatLabel="always">
        <mat-label>Production Bonus</mat-label>
        <input matInput formControlName="productionBonus" type="number" class="example-right-align" placeholder="0">
        <span matPrefix>$&nbsp;</span>
        <mat-error
            *ngIf="!formGroup.get('productionBonus').valid && formGroup.get('productionBonus').touched && formGroup.get('productionBonus').errors?.required">
            Production Bonus is <strong>required</strong>
        </mat-error>
        <mat-error
            *ngIf="!formGroup.get('productionBonus').valid && formGroup.get('productionBonus').touched && formGroup.get('productionBonus').errors?.min">
            Min Production Bonus is 0
        </mat-error>
    </mat-form-field>
    <mat-form-field floatLabel="always">
        <mat-label>Compensation Bonus</mat-label>
        <input matInput formControlName="compensatioBonus" type="number" class="example-right-align" placeholder="0">
        <span matPrefix>$&nbsp;</span>
        <mat-error
            *ngIf="!formGroup.get('compensatioBonus').valid && formGroup.get('compensatioBonus').touched && formGroup.get('compensatioBonus').errors?.required">
            Compensatiom Bonus is <strong>required</strong>
        </mat-error>
        <mat-error
            *ngIf="!formGroup.get('compensatioBonus').valid && formGroup.get('compensatioBonus').touched && formGroup.get('compensatioBonus').errors?.min">
            Min Compensatio Bonus is 0
        </mat-error>
    </mat-form-field>
    <mat-form-field floatLabel="always">
        <mat-label>Commission</mat-label>
        <input matInput formControlName="commission" type="number" class="example-right-align" placeholder="0">
        <span matPrefix>$&nbsp;</span>
        <mat-error
            *ngIf="!formGroup.get('commission').valid && formGroup.get('commission').touched && formGroup.get('commission').errors?.required">
            Commission is <strong>required</strong>
        </mat-error>
        <mat-error
            *ngIf="!formGroup.get('commission').valid && formGroup.get('commission').touched && formGroup.get('commission').errors?.min">
            Min Commission is 0
        </mat-error>
    </mat-form-field>
    <mat-form-field floatLabel="always">
        <mat-label>Contributions</mat-label>
        <input matInput formControlName="contributions" type="number" class="example-right-align" placeholder="0">
        <span matPrefix>$&nbsp;</span>
        <mat-error
            *ngIf="!formGroup.get('contributions').valid && formGroup.get('contributions').touched && formGroup.get('contributions').errors?.required">
            Contributions is <strong>required</strong>
        </mat-error>
        <mat-error
            *ngIf="!formGroup.get('contributions').valid && formGroup.get('contributions').touched && formGroup.get('contributions').errors?.min">
            Min Contributions is 0
        </mat-error>
    </mat-form-field>

    </form>
</div>
<div mat-dialog-actions>
    <button mat-button [disabled]="!isValid()" (click)="onAdd()" color="primary">{{data ? 'Update' : 'Create'}}</button>
    <button mat-button (click)="onCancel()">Cancel</button>
</div>
