mat-form-field {
    padding-right: 2%;
}

.content {
    padding: 2% 0% 0% 5%;
}

.add-button {
    text-align: center;
    padding-right: 7%;
    margin-top: 1%;
}

.save-button {
    margin-left: 1%;
}

.row mat-form-field {
    width: 20%;
}

.table-container {
    height: auto;
    max-height: 400px;
    overflow: auto;
    width: 86%;
}
  
table {
    width: 100%;
}
  

